<cm-search-component (valueChanged)="onSearch($event)"></cm-search-component>

<ng-container *ngIf="comments$ | async as comments; else noData">
  <ng-container *ngIf="comments.length; then content; else noComments">
  </ng-container>

  <ng-template #content>
    <cm-comments [comments]="comments"></cm-comments>
  </ng-template>

  <ng-template #noComments>
    <p class="comments-message">
      No comments
    </p>
  </ng-template>
</ng-container>

<ng-template #noData>
  <p class="comments-message">
    <ng-container
      *ngIf="loadingError; then loadedError; else loading"
    ></ng-container>

    <ng-template #loadedError>
      error on getting comments
    </ng-template>

    <ng-template #loading>
      loading...
    </ng-template>
  </p>
</ng-template>
